.restcountry{
    background-color: rgb(92, 35, 10);
    border: 3px solid greenyellow;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
  }
.restcountry img{
    width: 80%;
}